Repository woodpecker-ci/woodpecker, pull requests merged in 2021-07, with the labels that each got.

#235 Add support to gitea remote for path-prefix condition
  docs/docs/pipeline.md
  remote/gitea/fixtures/hooks.go
  remote/gitea/helper.go
  remote/gitea/parse_test.go
  remote/gitea/types.go
Labels: enhancement, gitea

#225 Add mutli-pipeline to Gitea
  remote/gitea/gitea.go
  remote/gitea/gitea_oauth.go
Labels: enhancement, gitea

#241 Changelog for v0.14.0-rc2
  .changelog.yml
  CHANGELOG.md
Labels: documentation, skip-changelog

#249 fix: change launch config to be able to debug server and agent
  .vscode/launch.json
Labels: documentation

#253 Tidy up readme
  README.md
Labels: documentation

#250 fix: allow multi pipeline file to be named .drone.yml
  web/src/screens/repo/screens/build/components/procs.js
  web/src/screens/repo/screens/build/index.js
Labels: bug, ui
