Repository woodpecker-ci/woodpecker, pull requests merged in 2022-12, with the labels that each got.

#1415 Add button in web-ui to trigger the deployment event
  web/components.d.ts
  web/src/assets/locales/en.json
  web/src/components/layout/popups/DeployPipelinePopup.vue
  web/src/lib/api/index.ts
  web/src/views/repo/pipeline/PipelineWrapper.vue
Labels: ui, enhancement

#1469 disable metrics access if no token is set
  docs/docs/30-administration/10-server-config.md
  server/api/metrics/prometheus.go
Labels: bug, server, backport

#1459 Add a sentence regarding translations to the development docs (UI page)
  docs/docs/92-development/03-ui.md
Labels: documentation

#1442 router: create apiBase
  go.mod
  go.sum
  server/router/api.go
Labels: server, refactor

#1470 disable metrics access if no token is set
  server/api/metrics/prometheus.go
Labels: bug, server, breaking, security

#1498 Add Changelog for v0.15.6
  CHANGELOG.md
Labels: documentation, skip-changelog

#1500 Add Changelog for v0.15.6 (#1498)
  CHANGELOG.md
Labels: documentation, skip-changelog

#1502 ci: cross-compile-server: force pure Go resolver
  .woodpecker/docker.yml
Labels: bug, build, backport

#1503 ci: cross-compile-server: force pure Go resolver (#1502)
  .woodpecker/docker.yml
Labels: bug, build

#1501 Dont panic on hook parsing
  server/forge/gitea/gitea.go
  server/forge/gitea/parse.go
Labels: bug, forge/gitea

#1362 Lazy load locales
  web/src/App.vue
  web/src/compositions/useI18n.ts
  web/src/views/RepoAdd.vue
  web/src/views/User.vue
  web/src/vite-env.d.ts
  web/vite.config.ts
Labels: ui

#1510 Allow adding additional labels/annotations to kubernetes worker pods
  charts/woodpecker-agent/values.yaml
  cli/exec/flags.go
  cmd/agent/flags.go
  pipeline/backend/kubernetes/kubernetes.go
  pipeline/backend/kubernetes/pod.go
Labels: enhancement, backend/kubernetes

#1511 [Backport] sanitizeParamKey "-" to "_" for plugin settings
  pipeline/frontend/yaml/compiler/params.go
Labels: enhancement
