Repository woodpecker-ci/woodpecker, pull requests merged in 2024-02, with the labels that each got.

#3312 Add no branches text
  web/src/views/repo/RepoBranches.vue
Labels: ui, enhancement

#3331 fix: agent panic when node is terminated during step execution
  pipeline/backend/kubernetes/kubernetes.go
Labels: bug, backend/kubernetes

#3308 Consider gitlab inherited permissions
  server/forge/gitlab/convert.go
  server/forge/gitlab/gitlab.go
  server/forge/gitlab/gitlab_test.go
  server/forge/gitlab/helper.go
  server/forge/gitlab/testdata/projects.go
  server/forge/gitlab/testdata/testdata.go
Labels: bug, forge/gitlab

#3339 Ignore gitlab push events without commits
  server/forge/gitlab/gitlab.go
  server/forge/types/errors.go
Labels: bug, forge/gitlab

#3338 Ignore gitlab merge request events without code changes
  server/forge/gitlab/gitlab.go
  server/forge/gitlab/gitlab_test.go
  server/forge/gitlab/testdata/hooks.go
Labels: bug, forge/gitlab

#3340 Fix version check on next
  web/src/compositions/useVersion.ts
Labels: bug, ui

#3354 Fix linter
  pipeline/backend/kubernetes/kubernetes.go
  pipeline/frontend/yaml/compiler/option.go
  server/logging/log_test.go
  server/pipeline/queue.go
  server/pubsub/pub_test.go
  server/router/middleware/session/agent.go
  server/router/middleware/session/user.go
  server/store/datastore/migration/migration.go
  woodpecker-go/woodpecker/client_test.go
Labels: build

#3353 Fix backend detection
  cli/exec/exec.go
  cmd/agent/core/agent.go
  cmd/agent/main.go
  pipeline/backend/backend.go
Labels: bug, agent

#3314 Allow editing all environment variables in pipeline popups
  web/src/assets/locales/en.json
  web/src/components/layout/popups/DeployPipelinePopup.vue
  web/src/components/layout/popups/ManualPipelinePopup.vue
Labels: ui, enhancement, ux

#3222 Lint for event filter and deprecate `exclude`
  cmd/server/docs/docs.go
  docs/docs/91-migrations.md
  pipeline/errors/error.go
  pipeline/frontend/yaml/constraint/constraint.go
  pipeline/frontend/yaml/linter/linter.go
  pipeline/frontend/yaml/linter/linter_test.go
  server/pipeline/stepbuilder/stepBuilder_test.go
Labels: enhancement

#3371 Add link checking
  .woodpecker/static.yaml
  .woodpecker/test.yaml
  docs/docs/30-administration/00-deployment/10-docker-compose.md
  docs/docs/30-administration/10-server-config.md
  docs/docs/30-administration/11-forges/10-overview.md
  docs/docs/92-development/08-swagger.md
  pipeline/frontend/yaml/linter/schema/schema.json
Labels: build

#3377 Prevent agent deletion when it's still running tasks
  server/api/agent.go
Labels: enhancement

#3387 Remove empty strings from slice before parsing agent config
  cmd/agent/core/agent.go
  shared/utils/slices.go
  shared/utils/slices_test.go
Labels: bug, agent

#3378 Fix agent polling
  server/api/agent.go
  server/grpc/rpc.go
  server/queue/fifo.go
  server/queue/persistent.go
  server/queue/queue.go
Labels: bug, server

#3402 Fix pipeline restart
  server/services/config/forge.go
Labels: bug, regression

#3395 fix: can't run multiple services on k8s
  pipeline/backend/kubernetes/pod.go
  pipeline/backend/kubernetes/pod_test.go
  pipeline/backend/kubernetes/service.go
  pipeline/backend/kubernetes/service_test.go
Labels: bug, backend/kubernetes

#3382 Cli updater
  cli/common/flags.go
  cli/common/hooks.go
  cli/update/command.go
  cli/update/tar.go
  cli/update/types.go
  cli/update/updater.go
  cmd/cli/app.go
Labels: feature, cli

#2503 Add bitbucket datacenter (server) support
  cmd/server/flags.go
  cmd/server/setup.go
  docs/docs/30-administration/11-forges/10-overview.md
  docs/docs/30-administration/11-forges/60-bitbucket_datacenter.md
  go.mod
  go.sum
  server/forge/bitbucketdatacenter/bitbucketdatacenter.go
  server/forge/bitbucketdatacenter/bitbucketdatacenter_test.go
  server/forge/bitbucketdatacenter/convert.go
  server/forge/bitbucketdatacenter/convert_test.go
  server/forge/bitbucketdatacenter/fixtures/handler.go
  server/forge/bitbucketdatacenter/internal/client.go
  server/forge/bitbucketdatacenter/internal/client_test.go
  web/src/components/atomic/Icon.vue
  web/src/compositions/useConfig.ts
  web/src/views/repo/RepoPullRequest.vue
Labels: feature, forge/bitbucket

#3420 Parse email from Gitea webhook
  server/forge/gitea/fixtures/hooks.go
  server/forge/gitea/helper.go
  server/forge/gitea/helper_test.go
  server/forge/gitea/parse_test.go
Labels: forge/gitea, enhancement

#3406 Deprecate alternative names on secrets
  docs/docs/20-usage/20-workflow-syntax.md
  docs/docs/20-usage/40-secrets.md
  docs/docs/20-usage/50-environment.md
  docs/docs/91-migrations.md
  pipeline/frontend/yaml/compiler/compiler.go
  pipeline/frontend/yaml/compiler/convert.go
  pipeline/frontend/yaml/linter/linter.go
  pipeline/frontend/yaml/parse.go
  pipeline/frontend/yaml/types/base/base_types_test.go
  pipeline/frontend/yaml/types/base/int_test.go
  pipeline/frontend/yaml/types/base/map.go
  pipeline/frontend/yaml/types/base/map_test.go
  pipeline/frontend/yaml/types/base/slice_test.go
  pipeline/frontend/yaml/types/container.go
  pipeline/frontend/yaml/types/workflow.go
Labels: refactor, pipeline-config

#3407 More `when` filters
  .woodpecker/docker.yaml
  .woodpecker/test.yaml
  .woodpecker/web.yaml
Labels: build

#3404 Fix usage of WOODPECKER_DATABASE_DATASOURCE_FILE
  cmd/server/flags.go
  docker/Dockerfile.server.alpine.multiarch
  docker/Dockerfile.server.multiarch
  docs/docs/30-administration/10-server-config.md
Labels: bug, server

#3448 Apply "grpcnotrace" go build tag
  Makefile
Labels: enhancement, build
