Repository woodpecker-ci/woodpecker, pull requests merged in 2024-06, with the labels that each got.

#3757 Correct repo repair success message in cli
  cli/repo/repo_repair.go
Labels: bug, cli

#3753 Spellcheck "server/*"
  .cspell.json
  Makefile
  cmd/agent/core/health.go
  cmd/server/docs/docs.go
  cmd/server/flags.go
  cmd/server/server.go
  cmd/server/setup.go
  server/api/login.go
  server/api/metrics/prometheus.go
  server/api/org.go
  server/api/pipeline.go
  server/api/repo.go
  server/api/stream.go
  server/badges/badges.go
  server/forge/addon/logger.go
  server/forge/bitbucket/bitbucket.go
  server/forge/bitbucket/convert.go
  server/forge/bitbucket/internal/client.go
  server/forge/bitbucket/internal/types.go
  server/forge/bitbucketdatacenter/bitbucketdatacenter.go
  server/forge/bitbucketdatacenter/internal/client.go
  server/forge/forgejo/helper.go
  server/forge/gitea/helper.go
  server/forge/github/github.go
  server/forge/github/parse.go
  server/grpc/server.go
  server/pipeline/items.go
  server/pipeline/restart.go
  server/services/config/http.go
  server/services/encryption/aes.go
  server/services/encryption/constants.go
  server/services/encryption/tink_keyset.go
  server/services/registry/filesystem.go
  woodpecker-go/woodpecker/client.go
Labels: refactor

#3761 Fix missing WOODPECKER_BITBUCKET_DC_URL
  cmd/server/flags.go
Labels: bug, forge/bitbucket

#3765 Docs: update local backend page
  docs/docs/30-administration/22-backends/20-local.md
Labels: documentation

#3764 Fix config loading of cli
  cli/common/flags.go
  cli/internal/config/config.go
  cli/internal/config/config_test.go
  cli/setup/setup.go
  docker/Dockerfile.cli.alpine.multiarch
  docker/Dockerfile.cli.multiarch
Labels: bug, cli

#3768 Serve plugin icons locally
  docs/plugins/woodpecker-plugins/src/index.ts
  docs/plugins/woodpecker-plugins/src/theme/WoodpeckerPlugin.tsx
  docs/plugins/woodpecker-plugins/src/theme/WoodpeckerPluginList.tsx
  docs/plugins/woodpecker-plugins/src/types.ts
Labels: plugin, documentation

#3756 Fix repo creation
  server/api/repo.go
Labels: bug, server

#3770 Respect cli argument when checking docker backend availability
  pipeline/backend/docker/docker.go
Labels: bug, backend/docker, build_pr_images

#3780 Update nix flake
  Makefile
  flake.lock
  flake.nix
Labels: devx

#3733 Add api for forges
  cmd/server/docs/docs.go
  server/api/forge.go
  server/api/org.go
  server/api/orgs.go
  server/model/forge.go
  server/router/api.go
  server/web/config.go
  web/src/components/atomic/Icon.vue
  web/src/compositions/useConfig.ts
  web/src/compositions/useForgeStore.ts
  web/src/lib/api/index.ts
  web/src/lib/api/types/forge.ts
  web/src/lib/api/types/index.ts
  web/src/lib/api/types/repo.ts
  web/src/views/repo/RepoWrapper.vue
Labels: server, feature

#3807 Fix authentication error handling
  server/api/login.go
  server/forge/bitbucket/bitbucket.go
  server/forge/bitbucket/bitbucket_test.go
  server/forge/bitbucketdatacenter/bitbucketdatacenter.go
  server/forge/forgejo/forgejo.go
  server/forge/gitea/gitea.go
  server/forge/github/github.go
  server/forge/gitlab/gitlab.go
  server/forge/types/errors.go
  server/forge/types/oauth.go
  server/router/router.go
  web/src/assets/locales/en.json
  web/src/components/admin/settings/AdminInfoTab.vue
  web/src/components/atomic/Error.vue
  web/src/components/atomic/Warning.vue
  web/src/compositions/useAuthentication.ts
  web/src/router.ts
  web/src/views/Login.vue
Labels: bug, server, ui, ux

#3810 Cleanup of the login flow and tests
  server/api/login.go
  server/api/login_test.go
Labels: server

#3655 K8s secrets reference from step
  pipeline/backend/kubernetes/backend_options.go
  pipeline/backend/kubernetes/backend_options_test.go
  pipeline/backend/kubernetes/flags.go
  pipeline/backend/kubernetes/kubernetes.go
  pipeline/backend/kubernetes/pod.go
  pipeline/backend/kubernetes/pod_test.go
  pipeline/backend/kubernetes/secrets.go
  pipeline/backend/kubernetes/secrets_test.go
  pipeline/frontend/yaml/linter/schema/schema.json
Labels: enhancement, backend/kubernetes, build_pr_images

#3814 Allow to set dist dir using env var
  Makefile
Labels: build

#3828 Fix cli example in webui
  web/src/components/user/UserCLIAndAPITab.vue
Labels: bug, ui, skip-changelog

#3830 Cli get repo from git remote
  cli/internal/util.go
  go.mod
  go.sum
Labels: feature, cli, ux

#3832 Correct favicon states
  web/src/compositions/useFavicon.ts
Labels: bug, ui

#3831 Exclude mocks from release build
  .golangci.yaml
  Makefile
  pipeline/rpc/mocks/peer.go
  pipeline/rpc/peer.go
  server/forge/forge.go
  server/forge/mocks/forge.go
  server/services/manager.go
  server/services/mocks/manager.go
  server/store/mocks/store.go
  server/store/store.go
  woodpecker-go/woodpecker/interface.go
  woodpecker-go/woodpecker/mocks/client.go
Labels: refactor, tests, build

#3833 Bump github.com/hashicorp/go-retryablehttp v0.7.5 -> v0.7.7
  go.mod
  go.sum
Labels: security, dependencies

#3834 Bump github.com/hashicorp/go-retryablehttp v0.7.5 -> v0.7.7
  go.mod
  go.sum
Labels: security, dependencies, backport

#3829 Let webhook pass on pipeline parsion error
  server/pipeline/create.go
Labels: server, enhancement

#3843 Add mastodon verification
  docs/docusaurus.config.ts
Labels: documentation, governance

#3842 Enhance token checking
  server/api/hook.go
  server/router/middleware/session/agent.go
  server/router/middleware/session/user.go
  shared/token/token.go
  shared/token/token_test.go
Labels: security

#3847 Use proper oauth state
  .vscode/settings.json
  cmd/server/server.go
  cmd/server/setup.go
  server/api/hook.go
  server/api/login.go
  server/api/login_test.go
  server/config.go
  server/services/manager.go
  server/services/mocks/manager.go
  shared/token/token.go
  web/src/assets/locales/en.json
  web/src/views/Login.vue
Labels: server, enhancement, security
