Repository woodpecker-ci/woodpecker, pull requests merged in 2025-05, with the labels that each got.

#5120 Simplify NixOS docs
  docs/docs/30-administration/05-installation/30-packages.md
  docs/versioned_docs/version-3.5/30-administration/05-installation/30-packages.md
Labels: documentation, devx

#5156 Add Bluesky post plugin
  .github/release_template.md
  .woodpecker/social.yaml
Labels: build

#5175 Move `gitea-package` plugin to codeberg
  docs/plugins/woodpecker-plugins/plugins.json
Labels: plugin, documentation

#5178 fix(bitbucketdc): build status gets incorrectly reported on multi workflow builds
  server/forge/bitbucketdatacenter/bitbucketdatacenter.go
Labels: bug, forge/bitbucket

#5216 Move forge webhook fixtures into own files
  server/forge/bitbucket/fixtures/HookPull.json
  server/forge/bitbucket/fixtures/HookPullRequestDeclined.json
  server/forge/bitbucket/fixtures/HookPullRequestMerged.json
  server/forge/bitbucket/fixtures/HookPush.json
  server/forge/bitbucket/fixtures/hooks.go
  server/forge/forgejo/fixtures/HookPullRequest.json
  server/forge/forgejo/fixtures/HookPullRequestClosed.json
  server/forge/forgejo/fixtures/HookPullRequestMerged.json
  server/forge/forgejo/fixtures/HookPullRequestUpdated.json
  server/forge/forgejo/fixtures/HookPush.json
  server/forge/forgejo/fixtures/HookPushBranch.json
  server/forge/forgejo/fixtures/HookPushMulti.json
  server/forge/forgejo/fixtures/HookRelease.json
  server/forge/forgejo/fixtures/HookTag.json
  server/forge/forgejo/fixtures/hooks.go
  server/forge/github/fixtures/HookDeploy.json
  server/forge/github/fixtures/HookPullRequest.json
  server/forge/github/fixtures/HookPullRequestClosed.json
  server/forge/github/fixtures/HookPullRequestMerged.json
  server/forge/github/fixtures/HookPush.json
  server/forge/github/fixtures/HookRelease.json
  server/forge/github/fixtures/hooks.go
  server/forge/gitlab/fixtures/HookPullRequest.json
  server/forge/gitlab/fixtures/HookPullRequestApproved.json
  server/forge/gitlab/fixtures/HookPullRequestClosed.json
  server/forge/gitlab/fixtures/HookPullRequestMerged.json
  server/forge/gitlab/fixtures/HookPullRequestWithoutChanges.json
  server/forge/gitlab/fixtures/HookPush.json
  server/forge/gitlab/fixtures/HookTag.json
  server/forge/gitlab/fixtures/WebhookReleaseBody.json
  server/forge/gitlab/fixtures/hooks.go
  server/forge/gitlab/fixtures/oauth.go
  server/forge/gitlab/fixtures/projects.go
  server/forge/gitlab/fixtures/testdata.go
  server/forge/gitlab/fixtures/users.go
  server/forge/gitlab/gitlab_test.go
  server/forge/gitlab/testdata/hooks.go
Labels: forge/github, forge/gitlab, refactor, tests, forge/bitbucket, forge/forgejo
