Repository woodpecker-ci/woodpecker, pull requests merged in 2025-02, with the labels that each got.

#4827 Store/delete repos after forge communication
  server/api/repo.go
Labels: bug, server, build_pr_images

#4762 Unsanitize user and org names in DB
  .cspell.json
  server/api/repo.go
  server/store/datastore/migration/024_unsanitize_org_and_user_names.go
  server/store/datastore/migration/migration.go
  server/store/datastore/org.go
  server/store/datastore/org_test.go
  server/store/datastore/repo_test.go
  server/store/datastore/user_test.go
Labels: bug, server

#4842 Directly fetch directory contents
  server/forge/forgejo/forgejo.go
  server/forge/gitea/gitea.go
Labels: bug, forge/gitea, forge/forgejo

#4892 kubernetes: create service for detached steps
  pipeline/backend/kubernetes/kubernetes.go
  pipeline/backend/kubernetes/pod.go
  pipeline/backend/kubernetes/pod_test.go
  pipeline/backend/kubernetes/utils.go
Labels: server, backend/kubernetes
