Repository woodpecker-ci/woodpecker, pull requests merged in 2025-08, with the labels that each got.

#5383 Support namespace per org for Kubernetes step secrets
  pipeline/backend/kubernetes/secrets.go
Labels: server, backend/kubernetes

#5266 Add Agent-level Tolerations setting
  docs/docs/30-administration/10-configuration/11-backends/20-kubernetes.md
  pipeline/backend/kubernetes/flags.go
  pipeline/backend/kubernetes/kubernetes.go
  pipeline/backend/kubernetes/pod.go
  pipeline/backend/kubernetes/pod_test.go
  pipeline/frontend/yaml/linter/schema/schema.json
Labels: enhancement, backend/kubernetes

#5403 Fix tabs hover
  web/src/components/layout/scaffold/Tabs.vue
Labels: ui, regression

#5435 Rename oauth variables
  server/api/forge.go
  server/forge/bitbucket/bitbucket.go
  server/forge/bitbucket/bitbucket_test.go
  server/forge/bitbucketdatacenter/bitbucketdatacenter.go
  server/forge/bitbucketdatacenter/bitbucketdatacenter_test.go
  server/forge/forgejo/forgejo.go
  server/forge/forgejo/forgejo_test.go
  server/forge/gitea/gitea.go
  server/forge/gitea/gitea_test.go
  server/forge/github/github.go
  server/forge/github/github_test.go
  server/forge/gitlab/gitlab.go
  server/forge/gitlab/gitlab_test.go
  server/forge/setup/setup.go
  server/model/forge.go
  server/services/setup.go
  server/store/datastore/forge_test.go
Labels: server, refactor

#5451 Collapse changed files file-tree
  web/src/views/repo/pipeline/PipelineChangedFiles.vue
Labels: ui, enhancement
